*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif; 
}

.navbar img{
    width: 130px;
    height: 50px;

}

img{
    width: 100%;
    margin-left: 0px;
}

p .card-text{
    color: #212529;
}

.card-direc{
    color: #707070;
}

.nav-item{
    color: blue;
}
